@charset "utf-8";
/* CSS Document */


html {
	background: url(tsi-background.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Signika', sans-serif;
	color: white;
}

#wrapper {
    height: 900px;
	width: 100%;
	min-width: 1000px;
    position: relative;
	margin-left: auto;
    margin-right: auto;
}


a {														
	text-decoration: none;
	color: white;
	font-weight: lighter;
}

a:hover {
	color: dodgerblue;
}


/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
																					      /* NAVBAR */
#container {											

	height: 140px;
	background-color: rgba(0,0,0,0.6);
}


#title {
	color: white;
	text-align: center;
	height: 40px;
	font-size: 50px;
	padding-top: 16px;
	text-shadow: 0 0 7px rgba(30,144,255, 1);
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cursor {
    cursor:default;
}

#menu {
	color: white;
	text-align: center;
	font-size: 21px;
	padding-bottom: 80px;
	height: 3px;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/



/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
																						/* FOOTER */
#footer-strip{																		
	width: 100%;
	height: 90px;
	background-color: rgba(0,0,0,0.6);
	bottom: 50px;
	position: absolute;
	
}

#footer-strip-complete {
	width: 100%;
	height: 90px;
	background-color: rgba(0,0,0,0.6);
	margin-top: 50px;
	margin-bottom: 50px;
}

#container-footer {
	display: inline-block;
	width: 980px;
	height: 90px;
}

#container-footer-left {
	float: left;
	width: 380px;
	height: 90px;
	margin-left: 50px;
	
	line-height: 90px;
	text-align: center;
	font-size: 21px;

}
#container-footer-middle {
	float: center;
	width: 75px;
	height: 90px;
	background: url(tsiwhite.png);
	background-size: 75px 75px;
	background-repeat: no-repeat;
	margin-top: 7px;
	margin-left: 4px;
}

#container-footer-right {
	float: right;
	width: 380px;
	height: 90px;
	margin-right: 50px;
}

#subcontainer-footer-right{
	width: 380px;
	height: 40px;
	margin-top: 25px;
	position: absolute;
}

.social-button {
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
	padding-left: 4px;
	padding-right: 4px;
}

.social-button:hover {
	color: dodgerblue;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/





/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
																				/* MIDDLE BOX TYPES */


#middlebox {																	
	width: 980px;
	height: 510px;
	background-color: rgba(0,0,0,0.6);
	z-index: -1;
	margin: auto;
	padding-top: 10px;
	margin-top: 50px;
}

#middlebox-complete-tierlist {																	
	width: 1600px;
	height: 510px;
	background-color: rgba(0,0,0,0.6);
	margin: auto;
	z-index: -1;
	padding-top: 10px;
	margin-top: 50px;
}
#complete-tl-container{
	width: 1500px;
	height: 500px;
}

#middlebox-TL-Landing {																	
	width: 980px;
	height: 500px;
	background-color: rgba(0,0,0,0.6);
	z-index: -1;
	margin: auto;
	padding-top: 20px;
	margin-top: 50px;
}

#middlebox-streams {																	
	width: 980px;
	height: 520px;
	background-color: rgba(0,0,0,0.6);
	z-index: -1;
	margin-top: 50px;
}




/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/




/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
																			      /* DROPDOWN FOR NAVBAR */
ul {																			
    list-style-type: none;
}

li {
	display: inline;
}

li a, .dropbtn {
    color: white;
    text-decoration: none;
	padding-bottom: 8px;
	padding-top: 8px;
}

li a:hover, .dropdown:hover .dropbtn {
    color: dodgerblue;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    min-width: 150px;
	margin-top: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

.dropdown-content a {
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
}

.dropdown-content a:hover {
	color: dodgerblue;
    }

.dropdown:hover .dropdown-content {
    display: block;
	position: absolute;
	padding: 5px;
	
}

.border {
	border-bottom: 1px solid white;
}	

#selected {
	color: dodgerblue;
}

#selected2 {
	color: dodgerblue;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/




/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
																			         /* TIER LIST BUTTONS */
.button1 {												
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
	background-color: rgba(0, 0, 0, 0.6);
	border: 1px solid white;
	height: 60px;
	width: 380px;
	cursor: pointer;
	display: inline-block;
	color: white;
	font-family: 'Signika', sans-serif;
	font-size: 22px;
	border-radius: 5px;
	margin: 10px;
}

.button1:hover {
	border-color: dodgerblue;
	color: dodgerblue;
	border-width: 1px;
	border-radius: 5px;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/





/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
																			         /* TIER LISTS */

.button2 {												
	background-color: rgba(0, 0, 0, 0.6);
	border: 2px solid dodgerblue;
	height: 30px;
	line-height: 30px;
	width: 140px;
	cursor: auto;
	text-align: center;
	display: inline-block;
	color: white;
	font-family: 'Signika', sans-serif;
	font-size: 18px;
	border-radius: 3px;
	margin: 10px;
	box-shadow: 0 0 5px 2px rgba(30,144,255, 0.2);
}

.champion-icon {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 4px;
}

.complete-champion-icon {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 4px;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
																			         /* STREAMS */



#container-left {
	float: left;
	width: 490px;
	height: 500px;
	
	padding-top: 70px;
}

#container-right {
	float: right;
	width: 490px;
	height: 500px;
	
	padding-top: 70px;
}

.button3a-image-container {
	float: left;
	margin-left: 4px;
	height: 80px;
	width: 80px;
}

.button3a-text-container {
	float: right;
	height: 80px;
	width: 73.421052631%;
	line-height: 80px;
	text-align: center;
}

.button3b-image-container {
	float: right;
	margin-right: 4px;
	height: 80px;
	width: 80px;
}

.button3b-text-container {
	float: left;
	height: 80px;
	width: 73.421052631%;
	line-height: 80px;
	text-align: center;
}


.button3a {												
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
	background-color: rgba(0, 0, 0, 0.6);
	border: 1px solid white;
	height: 100px;
	width: 380px;
	cursor: pointer;
	display: inline-block;
	color: white;
	font-family: 'Signika', sans-serif;
	font-size: 22px;
	border-radius: 5px;
	margin: 10px;
}

.button3a:hover {
	border-color: dodgerblue;
	color: dodgerblue;
	border-width: 1px;
	border-radius: 5px;
}

.button3b {												
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
	background-color: rgba(0, 0, 0, 0.6);
	border: 1px solid white;
	height: 100px;
	width: 380px;
	cursor: pointer;
	display: inline-block;
	color: white;
	font-family: 'Signika', sans-serif;
	font-size: 22px;
	border-radius: 5px;
	margin: 10px;
	
}

.button3b:hover {
	border-color: dodgerblue;
	color: dodgerblue;
	border-width: 1px;
	border-radius: 5px;
}

.divider{
    position:absolute;
    left:50%;
    top:26%;
    bottom:27%;
    border:1px solid white;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
